@sidebar-width : 200px;
@top-height    : 42px;

@import 'utils';

body, input, button, select, textarea {
	font-family : 'Josefin Sans', sans-serif;
}

input, input[type], select {
	font-size: 110%;
}

.btn i {
	display : block;
	margin  : auto;
}

.control-line {
	button, select, input {
		margin-left : 4px;
	
		&:first-child {
			margin-left : 0;
		}
	}
}

#top, #sidebar, #main {
	position : fixed;
	overflow : hidden;
}

#sidebar, #main {
	bottom : 0;
}

#top {
	top    : 0;
	left   : 0;
	width  : 100%;
	height : @top-height;
}

#btn-sidebar {
	display : inline-block;
	float   : left;
}

#logo {
	margin-left : 0px;
}

#sidebar {
	top   : @top-height;
	left  : 0;
	width : @sidebar-width;

	font-weight : bold;

	background-color : #fefefe;
	border-right : 1px solid #dfdfdf;

	.transition(left 1s);

	&.closed {
		left : -@sidebar-width;
	}

	ul > li {
		cursor : pointer;

		a {
			display        : inline-block;
			padding-top    : 20px;
			padding-bottom : 20px;
			width          : 100%;
		}

		&.active a, & a:hover {
			color            : #000;
			background-color : #c5c5c5;
			text-shadow      : none;
		}

		&.active a {
			font-weight : bold;
		}

		a span {
			margin-left : 15px;
		}
	}
}

#main {
	top   : @top-height - 2;
	right : 0;
	left  : @sidebar-width;

	.transition(left 1s);

	#sidebar.closed + & {
		left : 0;
	}
}

#lookup {
	td {
		vertical-align : middle;

		input {
			margin : 0;
		}

		&.number {
			width : 1px;
		}

		&.modified {
			width : 130px;
		}

		&.control {
			.control-inner {
				display : none;
			}

			width : 272px;
		}
	}
	
	.diagram-item.active {
		font-weight : bold;

		.control-inner {
			display : block;
		}
	}

	.diagram-item.open td {
		background-color : #afc5d5;
	}
}

#generation {
	h3 {
		text-align : center;
	}

	.template-content, .template-select {
		width  : 100%;
	}

	.template-content {
		height : 400px;
		resize : none;
		font-family : Consolas monospace;
	}

	.btn-generate-and-download {
		display : block;
		margin  : auto;
	}
}