@sidebar-width : 200px;
@top-height    : 42px;

.transition (@what) {
	-moz-transition    : @what;
	-webkit-transition : @what;
	-ms-transition     : @what;
	-o-transition      : @what;
	transition         : @what;
}

#top, #sidebar, #main {
	position : fixed;
}

#sidebar, #main {
	height : 100%;
}

#top {
	top    : 0;
	left   : 0;
	width  : 100%;
	height : @top-height;
}

#btn-sidebar {
	display : inline-block;
	float   : left;
}

#logo {
	margin-left : 0px;
}

#sidebar {
	top   : @top-height;
	left  : 0;
	width : @sidebar-width;

	background-color : #fefefe;
	border-right : 1px solid #dfdfdf;

	.transition(left 1s);

	&.closed {
		left : -@sidebar-width;
	}

	ul > li {
		cursor : pointer;

		a {
			display        : inline-block;
			padding-top    : 20px;
			padding-bottom : 20px;
			width          : 100%;
		}

		&.active a, & a:hover {
			color            : #000;
			background-color : #c5c5c5;
			text-shadow      : none;
		}

		&.active a {
			font-weight : bold;
		}

		a span {
			margin-left : 15px;
		}
	}
}

#main {
	top   : @top-height;
	right : 0;
	left  : @sidebar-width;

	.transition(left 1s);

	#sidebar.closed + & {
		left : 0;
	}
}

#lookup {
	.btn-new-diagram {
		display : block;
		margin  : auto;
	}

	td {
		vertical-align : middle;

		input {
			margin : 0;
		}

		&.number {
			width : 1px;
		}

		&.modified {
			width : 130px;
		}

		&.control {
			.control-inner {
				display : none;
			}

			width : 200px;
		}
	}
	
	.diagram-item.active {
		font-weight : bold;

		.control-inner {
			display : block;
		}
	}

	.diagram-item.open td {
		background-color : #afc5d5;
	}
}