// ko foreach: openDiagrams
.class-diagram(data-bind="with: data")
	svg(
		data-bind="\
			visible: $parent === $root.chosenDiagram(),\
			attr: { viewBox: viewBox },\
			bindElement: element,\
			style: { backgroundPosition: bgPosition, backgroundSize: bgSize }\
		",
		width="100%", height="100%"
	)
		// ko template: { name: 'essential-tmpl', foreach: essentials }
		// /ko

	.control-menu.fade(data-bind="\
		css: { in: openMenu() === 'control' },\
		style: {\
			left: controlMenuPosX() + 'px',\
			top: controlMenuPosY() + 'px',\
			width: controlMenuWidth() + 'px',\
			height: controlMenuHeight() + 'px'\
		}\
	")
		button.btn.btn-rm-essential: i.icon-remove
		button.btn.btn-edit-essential: i.icon-edit
		button.btn.btn-link-essential: i.icon-arrow-right

	.essential-menu.popover.fade(data-bind="\
		bindElement: essentialMenuElement,\
		css: {\
			in: openMenu() === 'essential',\
			left: essentialMenuPosition() === 'left',\
			right: essentialMenuPosition() === 'right'\
		},\
		style: {\
			top: essentialMenuPosY() + 'px',\
			left: essentialMenuPosX() + 'px'\
		}\
	")
		.arrow(data-bind="style: { top: essentialMenuArrowPos() + '%' }")
		.popover-inner
			.popover-content
				div(style="height: 300px")
// /ko