// ko foreach: openDiagrams
.class-diagram(data-bind="with: data")
	svg(
		data-bind="\
			visible: $parent === $root.chosenDiagram(),\
			attr: { viewBox: viewBox },\
			bindElement: element,\
			style: { backgroundPosition: bgPosition, backgroundSize: bgSize }\
		",
		width="100%", height="100%"
	)
		// ko template: { name: 'essential-tmpl', foreach: essentials }
		// /ko

	// ko if: chosenEssential
	.control-panel(data-bind="\
		style: {\
			left: controlPanelPosX() + 'px',\
			top: controlPanelPosY() + 'px',\
			width: controlPanelWidth() + 'px',\
			height: controlPanelHeight() + 'px'\
		}\
	")
		button.btn.btn-rm-essential: i.icon-remove
		button.btn.btn-edit-essential: i.icon-edit
		button.btn.btn-link-essential: i.icon-arrow-right
		button.btn.btn-color-essential: i.icon-th
	// /ko

	// ko if: openPopover() === 'color' && chosenEssential()
	.color-popover.popover.fade(data-bind="\
		bindElement: colorPopoverElement,\
		css: {\
			in: colorPopoverPosition() !== 'none',\
			top: colorPopoverPosition() === 'top',\
			bottom: colorPopoverPosition() === 'bottom'\
		},\
		style: {\
			top: colorPopoverPosY() + 'px',\
			left: colorPopoverPosX() + 'px'\
		}\
	")
		.arrow(data-bind="left: colorPopoverArrowPos + '%'")
		.popover-inner
			.popover-content
			div(style="height: 200px")
	// /ko
// /ko