// ko foreach: openDiagrams
svg.class-diagram(
	data-bind="\
		with: data,\
		visible: $data === $parent.chosenDiagram(),\
		attr: { viewBox: data.viewBox },\
		bindElement: data.element\
	",
	width="100%", height="100%"
)

// ko template: { name: 'essential-tmpl', foreach: essentials }
// /ko

// /ko