// ko foreach: openDiagrams
.class-diagram(data-bind="with: data")
	svg(
		data-bind="\
			visible: $parent === $root.chosenDiagram(),\
			attr: { viewBox: viewBox },\
			bindElement: element,\
			style: { backgroundPosition: bgPosition, backgroundSize: bgSize }\
		",
		width="100%", height="100%"
	)
		// ko template: { name: 'essential-tmpl', foreach: essentials }
		// /ko

	.control-menu.fade(data-bind="\
		css: { in: openMenu() === 'control' },\
		style: {\
			left: controlMenuPosX() + 'px',\
			top: controlMenuPosY() + 'px',\
			width: controlMenuWidth() + 'px',\
			height: controlMenuHeight() + 'px'\
		}\
	")
		button.btn.btn-rm-essential: i.icon-remove
		button.btn.btn-edit-essential: i.icon-edit
		button.btn.btn-link-essential: i.icon-arrow-right

	.essential-menu.popover.fade(data-bind="\
		bindElement: essentialMenuElement,\
		css: {\
			in: openMenu() === 'essential',\
			left: essentialMenuPosition() === 'left',\
			right: essentialMenuPosition() === 'right'\
		},\
		style: {\
			top: essentialMenuPosY() + 'px',\
			left: essentialMenuPosX() + 'px'\
		}\
	")
		.arrow(data-bind="style: { top: essentialMenuArrowPos() + '%' }")
		.popover-inner
			.popover-content(data-bind="with: chosenEssential")
				.name
					span(data-bind="text: name, visible: !isRenamed()")
					input(type="text", data-bind="\
						value: name,\
						visible: isRenamed,\
						hasfocus: isRenamed\
					")
				hr
				.colors(data-bind="foreach: 'white blue green yellow grey'.words()")
					.color(data-bind="style: { backgroundColor: $data },\
						css: { 'active-color': $data === $parent.color() }")
// /ko