// ko foreach: openDiagrams
// ko with: data
svg.class-diagram(
	data-bind="\
		visible: $parent === $root.chosenDiagram(),\
		attr: { viewBox: viewBox },\
		bindElement: element,\
		style: { backgroundPosition: bgPosition, backgroundSize: bgSize }\
	",
	width="100%", height="100%"
)
	// ko template: { name: 'essential-tmpl', foreach: essentials }
	// /ko

// /ko
// /ko