// ko foreach: openDiagrams
.class-diagram(data-bind="with: data")
	svg(
		data-bind="\
			visible: $parent === $root.chosenDiagram(),\
			attr: { viewBox: viewBox },\
			bindElement: element,\
			style: { backgroundPosition: bgPosition, backgroundSize: bgSize }\
		",
		width="100%", height="100%"
	)
		// ko template: { name: 'essential-tmpl', foreach: essentials }
		// /ko

	// ko if: openMenu() === 'control'
	.control-menu(data-bind="\
		style: {\
			left: controlMenuPosX() + 'px',\
			top: controlMenuPosY() + 'px',\
			width: controlMenuWidth() + 'px',\
			height: controlMenuHeight() + 'px'\
		}\
	")
		button.btn.btn-rm-essential: i.icon-remove
		button.btn.btn-edit-essential: i.icon-edit
		button.btn.btn-link-essential: i.icon-arrow-right
		button.btn.btn-color-essential: i.icon-th
	// /ko

	// ko if: openMenu() === 'color'
	.color-menu.popover.fade(data-bind="\
		bindElement: colorMenuElement,\
		css: {\
			in: colorMenuPosition() !== 'none',\
			top: colorMenuPosition() === 'top',\
			bottom: colorMenuPosition() === 'bottom'\
		},\
		style: {\
			top: colorMenuPosY() + 'px',\
			left: colorMenuPosX() + 'px'\
		}\
	")
		.arrow(data-bind="left: colorMenuArrowPos + '%'")
		.popover-inner
			.popover-content
			div(style="height: 200px")
	// /ko
// /ko