form.form-horizontal(data-bind="with: locale().auth")

	.control-group(data-bind="css: { error: $root.invalidLogin }")
		label.control-label(for="login-login", data-bind="text: login")
		.controls: input(type="text", id="login-login",
			data-bind="attr: { placeholder: loginHolder }, value: $root.inputLogin")

	.control-group(data-bind="css: { error: $root.invalidPassword }")
		label.control-label(for="login-password", data-bind="text: password")
		.controls: input(type="password", id="login-password",
			data-bind="attr: { placeholder: passwordHolder }, value: $root.inputPassword")

	.control-group
		.controls
			label.checkbox
				input(type="checkbox", data-bind="checked: $root.remember")
				p(data-bind="text: remember")
			button.btn(type="submit", data-bind="text: submit")
