table.table.table-striped
	thead: tr(data-bind="with: locale().lookup")
		th(data-bind="text: number")
		th(data-bind="text: title")
		th
		th(data-bind="text: lastModified")
	tbody(data-bind="foreach: diagrams")
		tr.diagram-item(data-bind="css: { open: isOpen, active : isActive }")
			td.number(data-bind="text: $index() + 1")
			td.title
				span(data-bind="text: title, visible: !isRenamed()")
				input(type="text", data-bind="\
					value: title,\
					visible: isRenamed,\
					hasfocus: isRenamed\
				")

			td.control: .control-inner.control-line
				button.btn.btn-rename-diagram(data-bind="\
					text: $root.locale().lookup.renameButton")
				button.btn.btn-close-diagram(data-bind="\
					visible: isOpen,\
					text: $root.locale().lookup.closeButton")
				button.btn.btn-remove-diagram(data-bind="\
					visible: !isOpen(),\
					text: $root.locale().lookup.removeButton")
				button.btn.btn-edit-diagram(data-bind="\
					text: $root.locale().lookup.editButton")
				button.btn.btn-generate-code(data-bind="\
					text: $root.locale().lookup.generateButton")
				button.btn.btn-share-diagram(data-bind="\
					text: $root.locale().lookup.shareButton")

			td.modified(data-bind="text: lastModified")

button.btn.btn-create-diagram(data-bind="text: locale().lookup.createDiagram")
