g.member(data-bind="svgcss: { static: isStatic }, translateY: posY")
	// ko template: { name: 'member-separator-tmpl', if: $index() !== 0 }
	// /ko

	text.test(data-bind="x: textPosX, y: textPosY")
		tspan.visibility(data-bind="text: visibility")
		| &nbsp;
		tspan.name(data-bind="text: name")
		| &nbsp;
		tspan.separator :
		| &nbsp;
		tspan.type(data-bind="text: type")

	// ko template: { name: 'member-underline-tmpl', if: isStatic }
	// /ko