g.member(data-bind="svgcss: { static: isStatic }, translateY: posY")
	// ko template: { name: 'element-separator-tmpl', if: $index() !== 0 }
	// /ko

	text.test(data-bind="attr: { y: textPosY , x: textPosX }")
		tspan.visibility(data-bind="text: visibility")
		| &nbsp;
		tspan.name(data-bind="text: name")
		| &nbsp;
		tspan.separator :
		| &nbsp;
		tspan.type(data-bind="text: type")