g.element(data-bind="css: { static: isStatic }, translateY: posY")
	// ko template: { name: 'element-separator-tmpl', if: $index !== 0 }
	// /ko

	text.visibility(data-bind="text: visibility")
	text.name(data-bind="text: name")
	text :
	text.type(data-bind="text: type")