g.relationship.dependency
	path(data-bind="attr: { d: path }")
	g.tip(data-bind="attr: { transform: tipTransform }")
		line(x1="0", x2="-10", y1="0", y2="0", transform="rotate(22)")
		line(x1="0", x2="-10", y1="0", y2="0", transform="rotate(-22)")