g.essential(data-bind="\
	translate: { x: posX, y: posY },\
	svgcss: { moved: isMoved, chosen: isChosen, abstract: isAbstract }\
")
	rect.border(data-bind="attr: { x: 0, y: 0, width: width, height: height },\
		style: { fill: color }")

	g.header
		text.name(data-bind="text: name, attr: { x: namePosX, y: namePosY }")

	g.section.attributes(data-bind="if: attributesVisible, translateY: attributesPosY")
		// ko template: 'section-separator-tmpl'
		// /ko
		// ko template: { name: 'attribute-tmpl', foreach: attributes }
		// /ko

	g.section.operations(data-bind="if: operationsVisible, translateY: operationsPosY")
		// ko template: 'section-separator-tmpl'
		// /ko
		// ko template: { name: 'operation-tmpl', foreach: operations }
		// /ko